{% extends "base.html" %}
{% block title %} Estate {% endblock%}
{% block content%}
<br>
<h1 align="center">Emlaklar</h1>
<br>
<br>
<div class="container-fluid">
    <table id="estateTable" class="table table-sm table-bordered table-condensed table-striped table-hover">
        <caption>List of estates</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" style="text-align:center">Sahibi</th>
                <th scope="col" style="text-align:center">Proje</th>
                <th scope="col" style="text-align:center">Blok</th>
                <th scope="col" style="text-align:center">Kapı</th>
                <th scope="col" style="text-align:center">Kat</th>
                <th scope="col" style="text-align:center">Oda</th>
                <th scope="col" style="text-align:center">M2</th>
                <th scope="col" style="text-align:center">M2 Birim Fİyatı</th>
                <th scope="col" style="text-align:center">Peşinat</th>
                <th scope="col" style="text-align:center">Alım Tarihi</th>
                <th scope="col" style="text-align:center">Satış Tarihi</th>
                <th scope="col" style="text-align:center">Satış Fiyatı</th>
                <th scope="col" style="text-align:center">Taksit Sayısı</th>
                <th scope="col" style="text-align:center">Taksit Tutarı</th>
                <th scope="col" style="text-align:center">Yatırımcıya Verilecek</th>
                <th scope="col" style="text-align:center">Sağlam Gruba Kalan</th>
                <th scope="col" style="text-align:left">
                    <button id="addEstateBtn" href="" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#addEstateModal">Add Estate</button>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% set counter = 0 %}
            {% for estate in estates %}
            <tr>
                <th scope="row"> {{ loop.index }}</th>
                {% if customers %}
                <!-- Anlamadim neden customers[1] yada customers[0] verdigimizde calisiyor -->
                <td style="text-align:center">{{ customers[0].query.filter_by(id=estate.customer_id).first().name }}
                </td>
                {% else %}
                <td> Error Var </td>
                {% endif %}

                <td style="text-align:center">{{ estate.project }} </td>
                <td style="text-align:center">{{ estate.blok }}</td>
                <td style="text-align:center">{{ estate.kapi }}</td>
                <td style="text-align:center">{{ estate.kat }}</td>
                <td style="text-align:center">{{ estate.oda }}</td>
                <td style="text-align:center">{{ estate.m2 }}</td>
                <td style="text-align:center">{{ estate.m2_birim }}</td>
                <td style="text-align:center">{{ estate.pesinat }}</td>
                <td style="text-align:center">{{ estate.alim_tarih }}</td>
                <td style="text-align:center">{{ estate.satis_tarih }}</td>
                <td style="text-align:center">{{ estate.satis_fiyat }}</td>
                <td style="text-align:center">{{ estate.taksit_sayisi }}</td>
                <td style="text-align:center">{{ estate.taksit_tutari }}</td>
                <!-- <td style="text-align:center">{{ estate.taksit_tutari | int * estate.taksit_sayisi | int }}</td> -->
                <td style="text-align:center">{{ estate.yatirimci_verilecek }}</td>
                <td style="text-align:center">{{ estate.saglam_gruba_kalan }}</td>

                <td>
                    <button id="editEstateBtn" href="#editEstateModal" class="btn btn-outline-secondary btn-sm"
                        data-bs-target="#editEstateModal" data-estate_id="{{ estate.id }}"
                        data-project="{{ estate.project }}" data-blok="{{ estate.blok }}" data-kapi="{{ estate.kapi }}"
                        data-kat="{{ estate.kat }}" data-oda="{{ estate.oda }}" data-m2="{{ estate.m2 }}"
                        data-m2_birim="{{ estate.m2_birim }}" data-alim_tarih="{{ estate.alim_tarih }}"
                        data-satis_tarih="{{ estate.satis_tarih }}" data-satis_fiyat="{{ estate.satis_fiyat }}"
                        data-taksit_sayisi="{{ estate.taksit_sayisi }}" data-taksit_tutari="{{ estate.taksit_tutari }}"
                        data-yatirimci_verilecek="{{ estate.yatirimci_verilecek }}"
                        data-saglam_gruba_kalan="{{ estate.saglam_gruba_kalan }}" data-bs-toggle="modal"> Edit
                    </button>
                    <button type="button" id="detailsEstateBtn" class="btn btn-outline-info btn-sm"
                        data-estate_id="{{ estate.id }}">Details </button>
                    <button type="button" id="deleteEstateBtn" data-bs-target="#deleteEstateModal"
                        data-bs-toggle="modal" class="btn btn-sm btn-outline-danger"
                        data-estate_id="{{ estate.id }}">Delete</button>
                    <!-- 
                <button type="button" class="btn btn-outline-danger" data-bs-target="#deleteEstateModal"
                    data-bs-toggle="modal">Delete</button> -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Add Estate Modal -->
<div class="modal fade" id="addEstateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Estate</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if customers %}
                <form method="POST">
                    <select class="form-select" name="customer" id="customer">
                        {% for customer in customers %}
                        <option value="{{ customer.name }}">{{ customer.name }}</option>
                        {% endfor %}
                    </select>

                    <div class="form-group">
                        <label for="project">Proje</label>
                        <input type="text" class="form-control" id="project" name="project" />
                    </div>
                    <div class="form-group">
                        <label for="blok">Blok</label>
                        <input type="text" class="form-control" id="blok" name="blok" placeholder />
                    </div>
                    <div class="form-group">
                        <label for="kapi">Kapı</label>
                        <input type="text" class="form-control" id="kapi" name="kapi" />
                    </div>
                    <div class="form-group">
                        <label for="kat">Kat</label>
                        <input type="text" class="form-control" id="kat" name="kat" />
                    </div>
                    <div class="form-group">
                        <label for="oda">Oda</label>
                        <input type="text" class="form-control" id="oda" name="oda" />
                    </div>
                    <div class="form-group">
                        <label for="m2">M2</label>
                        <input type="text" class="form-control" id="m2" name="m2" />
                    </div>
                    <div class="form-group">
                        <label for="m2-birim">M2 Birim Fiyatı</label>
                        <input type="text" class="form-control" id="m2-birim" name="m2-birim" />
                    </div>
                    <div class="form-group">
                        <label for="alinan-pesinat">Alınan Peşinat</label>
                        <input type="text" class="form-control" id="alinan-pesinat" name="alinan-pesinat" />
                    </div>
                    <div class="form-group">
                        <label for="alim-tarih">Alım Tarihih</label>
                        <input type="text" class="form-control" id="alim-tarih" name="alim-tarih" />
                    </div>
                    <div class="form-group">
                        <label for="satis-tarih">Satış Tarihi</label>
                        <input type="text" class="form-control" id="satis-tarih" name="satis-tarih" />
                    </div>
                    <div class="form-group">
                        <label for="satis-fiyat">Satış Fiyatı</label>
                        <input type="text" class="form-control" id="satis-fiyat" name="satis-fiyat" />
                    </div>
                    <div class="form-group">
                        <label for="taksit-sayisi">Taksit Sayısı</label>
                        <input type="text" class="form-control" id="taksit-sayisi" name="taksit-sayisi" />
                    </div>
                    <div class="form-group">
                        <label for="taksit-tutari">Taksit Tutarı</label>
                        <input type="text" class="form-control" id="taksit-tutari" name="taksit-tutari" />
                    </div>
                    <div class="form-group">
                        <label for="yatirimci-verilecek">Yatırımcıya Verilecek</label>
                        <input type="text" class="form-control" id="yatirimci-verilecek" name="yatirimci-verilecek" />
                    </div>
                    <div class="form-group">
                        <label for="saglam-gruba-kalan">Sağlam Gruba Kalan</label>
                        <input type="text" class="form-control" id="saglam-gruba-kalan" name="saglam-gruba-kalan" />
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </form>
                {% else %}

                User yok aga
                <div class="form-group">
                    <label for="project">Proje</label>
                    <input type="text" class="form-control" id="project" name="project" />
                </div>

                {% endif %}

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Edit Estate Modal -->
<div class="modal fade" id="editEstateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Estate</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body-edit" class="modal-body">
                <form id="editEstateForm" method="POST">

                    <div class="form-group">
                        <input type="text" class="form-control" id="estate_id" name="estate_id" hidden />
                    </div>
                    <div class="form-group">
                        <label for="project">Proje</label>
                        <input type="text" class="form-control" id="project" name="project" />
                    </div>
                    <div class="form-group">
                        <label for="blok">Blok</label>
                        <input type="text" class="form-control" id="blok" name="blok" placeholder />
                    </div>
                    <div class="form-group">
                        <label for="kapi">Kapı</label>
                        <input type="text" class="form-control" id="kapi" name="kapi" />
                    </div>
                    <div class="form-group">
                        <label for="kat">Kat</label>
                        <input type="text" class="form-control" id="kat" name="kat" />
                    </div>
                    <div class="form-group">
                        <label for="oda">Oda</label>
                        <input type="text" class="form-control" id="oda" name="oda" />
                    </div>
                    <div class="form-group">
                        <label for="m2">M2</label>
                        <input type="text" class="form-control" id="m2" name="m2" />
                    </div>
                    <div class="form-group">
                        <label for="m2-birim">M2 Birim Fiyatı</label>
                        <input type="text" class="form-control" id="m2-birim" name="m2-birim" />
                    </div>
                    <div class="form-group">
                        <label for="alinan-pesinat">Alınan Peşinat</label>
                        <input type="text" class="form-control" id="alinan-pesinat" name="alinan-pesinat" />
                    </div>
                    <div class="form-group">
                        <label for="alim-tarih">Alım Tarihih</label>
                        <input type="text" class="form-control" id="alim-tarih" name="alim-tarih" />
                    </div>
                    <div class="form-group">
                        <label for="satis-tarih">Satış Tarihi</label>
                        <input type="text" class="form-control" id="satis-tarih" name="satis-tarih" />
                    </div>
                    <div class="form-group">
                        <label for="satis-fiyat">Satış Fiyatı</label>
                        <input type="text" class="form-control" id="satis-fiyat" name="satis-fiyat" />
                    </div>
                    <div class="form-group">
                        <label for="taksit-sayisi">Taksit Sayısı</label>
                        <input type="text" class="form-control" id="taksit-sayisi" name="taksit-sayisi" />
                    </div>
                    <div class="form-group">
                        <label for="taksit-tutari">Taksit Tutarı</label>
                        <input type="text" class="form-control" id="taksit-tutari" name="taksit-tutari" />
                    </div>
                    <div class="form-group">
                        <label for="yatirimci-verilecek">Yatırımcıya Verilecek</label>
                        <input type="text" class="form-control" id="yatirimci-verilecek" name="yatirimci-verilecek" />
                    </div>
                    <div class="form-group">
                        <label for="saglam-gruba-kalan">Sağlam Gruba Kalan</label>
                        <input type="text" class="form-control" id="saglam-gruba-kalan" name="saglam-gruba-kalan" />
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div> -->
        </div>
    </div>
</div>

<!--Delete Estae Modal -->
<div class="modal fade" id="deleteEstateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body-delete" class="modal-body">
                <form id="deleteEstateForm" method="POST">

                    <div class="form-group">
                        <input type="text" class="form-control" id="estate_id" name="estate_id" hidden />
                    </div>

                    Are You Sure?
                    <br>
                    <br>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>


            </div>
            <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div> -->
        </div>
    </div>
</div>


<script>

    // Tabloyu degistiriyor.
    // $(document).ready(function () {
    //     var table = $('#estateTable').DataTable();

    //     $('#estateTable tbody').on('click', 'tr', function () {
    //         var data = table.row(this).data();
    //         alert('You clicked on ' + data[0] + "'s row");
    //     });
    // });

    $(document).on("click", "#editEstateBtn", function () {

        var estate_id = $(this).data('estate_id');
        var project = $(this).data('project');
        var blok = $(this).data('blok');
        var kapi = $(this).data('kapi');
        var kat = $(this).data('kat');
        var oda = $(this).data('oda');
        var m2 = $(this).data('m2');
        var m2_birim = $(this).data('m2_birim');
        var alim_tarih = $(this).data('alim_tarih');
        var satis_tarih = $(this).data('satis_tarih');
        var satis_fiyat = $(this).data('satis_fiyat');
        var taksit_sayisi = $(this).data('taksit_sayisi');
        var taksit_tutari = $(this).data('taksit_tutari');
        var yatirimci_verilecek = $(this).data('yatirimci_verilecek');
        var saglam_gruba_kalan = $(this).data('saglam_gruba_kalan');

        $("#modal-body-edit #estate_id").val(estate_id);
        $("#modal-body-edit #project").val(project);
        $("#modal-body-edit #blok").val(blok);
        $("#modal-body-edit #kapi").val(kapi);
        $("#modal-body-edit #kat").val(kat);
        $("#modal-body-edit #oda").val(oda);
        $("#modal-body-edit #m2").val(m2);
        $("#modal-body-edit #m2-birim").val(m2_birim);
        $("#modal-body-edit #alim-tarih").val(alim_tarih);
        $("#modal-body-edit #satis-tarih").val(satis_tarih);
        $("#modal-body-edit #satis-fiyat").val(satis_fiyat);
        $("#modal-body-edit #taksit-sayisi").val(taksit_sayisi);
        $("#modal-body-edit #taksit-tutari").val(taksit_tutari);
        $("#modal-body-edit #yatirimci-verilecek").val(yatirimci_verilecek);
        $("#modal-body-edit #saglam-gruba-kalan").val(saglam_gruba_kalan);

    });

    $(document).on("click", "#detailsEstateBtn", function () {
        var estate_id = $(this).data('estate_id');
        window.location.href = `/estates/${estate_id}`
    });

    $('#editEstateForm').submit(function (e) {
        /////////////////////// UTIL ////////////////////////////
        // var user_id = $(this).data('user_id');
        // var data = $('#editUserForm').serializeArray();
        // data.push({ name: 'user_id', value: user_id })
        // console.log(data);
        ////////////////////////////////////////////////////////
        // e.preventDefault();
        $.ajax({
            type: 'POST',
            url: `/estates/edit`,
            data: $(this).serialize(),
        }).done(function (response) {
            console.log(response);
        });
    });

    $(document).on("click", "#deleteEstateBtn", function () {
        var estate_id = $(this).data('estate_id');
        $("#modal-body-delete #estate_id").val(estate_id);
    });

    $('#deleteEstateForm').submit(function (e) {

        $.ajax({
            type: 'POST',
            url: `/estates/delete`,
            data: $(this).serialize(),
        }).done(function (response) {
            location.reload();
        });
    });

    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

</script>


{% endblock %}